<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<configSections>
	</configSections>
	<connectionStrings>
  <add name="CapaDatos.Properties.Settings.ProyectoIntegradorInmogestionPlusConnectionString"
   connectionString="Data Source=207.246.73.98,1433;Initial Catalog=ProyectoIntegradorInmogestionPlus;User ID=ANGEL;Password=H45i44g40r38@;TrustServerCertificate=True"
   providerName="System.Data.SqlClient" />
  <add name="CapaDatos.Properties.Settings.ProyectoIntegradorInmogestionPlusConnectionString1"
   connectionString="Data Source=207.246.73.98,1433;Initial Catalog=ProyectoIntegradorInmogestionPlus;User ID=ANGEL;Password=H45i44g40r38@;Encrypt=True;TrustServerCertificate=True"
   providerName="System.Data.SqlClient" />
  <add name="CapaDatos.Properties.Settings.ProyectoIntegradorInmogestionPlusConnectionString2"
   connectionString="Data Source=207.246.73.98;Initial Catalog=ProyectoIntegradorInmogestionPlus;Persist Security Info=True;User ID=Angel;Password=H45i44g40r38@;Encrypt=False"
   providerName="System.Data.SqlClient" />
 </connectionStrings>
</configuration>
<!---->